<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-notification-service-extension" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>NotificationServiceExtension</name>
<js-module name="NotificationServiceExtension" src="www/NotificationServiceExtension.js">
<clobbers target="cordova.plugins.NotificationServiceExtension" />
</js-module>
<platform name="ios">

<podspec>
      <config>
        <source url="https://cdn.cocoapods.org/"/>
      </config>
      <pods use-frameworks="true">
        <pod name="Firebase/Messaging" spec="~> 8.1.1" />
      </pods>
</podspec>
<hook type="after_plugin_add" src="src/ios/serviceExtension.js" />
</platform>
</plugin>